/*

Description    :  Contain Body For css3a.html File
Program Date   :  23 Jan 2021
Program Author :  Prasad Dangare
Program Output :  Display The Webpage In css3a.html  

*/

body 
    {
        background-color: black;
    }
  
    h1 
    {
        color: yellow;
    }
  
    p 
    {
        color: blue;
    }